################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASI_DOTNET/bin/Debug
/ASI_DOTNET/obj/Debug
/packages
/ASI_DOTNET.v12.suo
/ASI_DOTNET/AcadGUI.cs
/ASI_DOTNET/Palette.xaml
/ASI_DOTNET/Palette.xaml.cs
/.vs/ASI_DOTNET/v14/.suo
