################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASI_DOTNET/bin/Debug
/ASI_DOTNET/obj/Debug
/packages
/ASI_DOTNET.v12.suo
